:root{
    --primary-text-color:#000000;
}

body{
    font-family: 'Jost';
    font-style: normal;
    color: var(--primary-text-color);
    margin-left: 20px;
}
ul{
    list-style: none;
}

.header-text{
    font-weight: 500;
        font-size: 24px;
        line-height: 32px;
}

.banner-text{
    font-weight: 700;
        font-size: 54px;
        line-height: 56px;
}

.main-heading{
    font-weight: 700;
        font-size: 36px;
        line-height: 42px;
}

.heading-list>.heading,
.heading {
    font-weight: 600;
    font-size: 24px;
        line-height: 32px;
}

.heading{
    font-weight: 500;
        
}

.subtitle{
    font-weight: 500;
        font-size: 18px;
        line-height: 24px;
}

.subtitle-1{
    font-family: 'Work Sans';
    font-weight: 500;
        font-size: 18px;
        line-height: 24px;
}


.headline{
    font-weight: 500;
        font-size: 14px;
        line-height: 20px;
}

.body{
    font-weight: 400;
        font-size: 14px;
        line-height: 20px;
}